.promotion {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #355DA5;
}

    .promotion_text {
        color: white;
        text-align: center;
        margin: 0rem;
        font-weight: bolder;
    }
    
    @media (min-width: 768px) {
        .promotion_text {
            font-size: 1.05rem;
        }
    }


@media (max-width: 768px) {
    .promotion_text {
        font-size: 0.8rem;
    }
}


.promotion_button {
    border: none;
    color: white;
    background-color: #355DA5;
    margin-left: 0.5rem;
    font-weight: bold;
}

.promotion_button:hover {
    color: #000000;
    font-weight: bolder;
}

