.header {
    display: flex;
    padding: 1rem 5rem 0 0; 
    align-items: center;
    background-color: black;
}


@media (min-width: 768px) {
    .header_logo {
        margin-left: -5rem;
        margin-right: 2rem;
        margin-bottom: 1.6rem;
        width: 30%;
        height: 30%;
    }    
}

@media (max-width: 768px) {
    .header_logo{
        height: 4rem;
    }
}

